@charset "UTF-8";

.opac{
	opacity: 0;
}
.opac2{
	opacity: 1;
}
.button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}